@use "../../../styles/constants" as *;
@use "../../../styles/mixins" as *;

.bento {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: $space-md;

  h3 {
    max-width: clamp(20rem, 9.565rem + 52.174vw, 50rem);
    text-align: center;
  }

  &__tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-md;
  }

  &__tabslist {
    gap: $space-md;
    height: 4rem;

    > * {
      padding-inline: 2rem;
      background: var(--muted);
      color: var(--muted-foreground);
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $space-sm;
    @include respond(lg) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 12rem;
      grid-template-areas:
     "box-1 box-1 box-1 box-1 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3"
     "box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2"
     "box-4 box-4 box-4 box-4 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2";
    }


    @for $i from 1 through 4 {
      > div:nth-child(#{$i}) {
        //@include respond(lg) {
        //  border: var(--border) solid 1px;
        //}
          border: var(--border) solid 1px;
        border-radius: 0.375rem;
        grid-area: box-#{$i};
        padding: $space-md
      }
    }

  }


}