.about {
  --scale: 0.9;
  --x: 50%;
  --y: 15%;
  transform: scale(var(--scale)) scaleY(86.6%) skewX(8deg) rotateZ(349deg) translate(var(--x), var(--y));

  &:after {
    content: "";
    background: linear-gradient(to top, var(--color-background), transparent 128px), linear-gradient(to right, var(--color-background), transparent 128px);
    position: absolute;
    inset: 0;
  }
}
