@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom */
:root {
    --page-max-width: 1024px;

}

@theme inline {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1600px;
}

:root {
    --background: oklch(0.9851 0 0);
    --foreground: oklch(0.2169 0.0066 258.3657);
    --card: oklch(0.9851 0 0);
    --card-foreground: oklch(0.2169 0.0066 258.3657);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1448 0 0);
    --primary: oklch(0.4511 0.1570 271.6021);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0 0 0);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.5555 0 0);
    --accent: oklch(0.8564 0.0704 264.4874);
    --accent-foreground: oklch(0.2169 0.0066 258.3657);
    --destructive: oklch(0.5830 0.2387 28.4765);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9067 0 0);
    --input: oklch(0.9290 0.0126 255.5317);
    --ring: oklch(0.4511 0.1570 271.6021);
    --chart-1: oklch(0.8564 0.0704 264.4874);
    --chart-2: oklch(0.6889 0.1566 280.2486);
    --chart-3: oklch(0.5998 0.1553 279.3786);
    --chart-4: oklch(0.5228 0.1578 277.7628);
    --chart-5: oklch(0.4519 0.1583 276.7230);
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.2169 0.0066 258.3657);
    --sidebar-primary: oklch(0.2169 0.0066 258.3657);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2169 0.0066 258.3657);
    --sidebar-border: oklch(0.3092 0 0);
    --sidebar-ring: oklch(0.7984 0 0);
    --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.2169 0.0066 258.3657);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.2169 0.0066 258.3657);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.6950 0.0796 263.1492);
    --primary-foreground: oklch(0.9710 0.0130 17.3800);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2169 0.0066 258.3657);
    --muted-foreground: oklch(0.7090 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.7022 0.1892 22.2279);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0.3250 0 0);
    --ring: oklch(0.5555 0 0);
    --chart-1: oklch(0.8564 0.0704 264.4874);
    --chart-2: oklch(0.6889 0.1566 280.2486);
    --chart-3: oklch(0.5998 0.1553 279.3786);
    --chart-4: oklch(0.5228 0.1578 277.7628);
    --chart-5: oklch(0.4519 0.1583 276.7230);
    --sidebar: oklch(0.2169 0.0066 258.3657);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.5998 0.1553 279.3786);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(0.2768 0 0);
    --sidebar-ring: oklch(0.4386 0 0);
    --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --space-xs: clamp(0.25rem, 0.163rem + 0.435vw, 0.5rem);
    --space-sm: clamp(0.375rem, 0.245rem + 0.652vw, 0.75rem);
    --space-md: clamp(0.75rem, 0.489rem + 1.304vw, 1.5rem);
    --space-lg: clamp(1rem, 0.652rem + 1.956vw, 2rem);
    --space-xl: clamp(1.5rem, 0.978rem + 2.608vw, 3rem);
    --space-xxl: clamp(2rem, 1.304rem + 3.912vw, 4rem);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@utility container-wrapper {
    @apply max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
    @apply 3xl:max-w-screen-2xl max-w-[var(--page-max-width)] mx-auto w-full px-4 lg:px-8;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground antialiased;
    }


}


@layer base {
    h1 {
        @apply text-[clamp(2rem,1.6rem+1.5vw,3.5rem)] font-bold tracking-tight text-foreground;
    }

    h2 {
        @apply text-[clamp(1.75rem,1.5rem+1vw,2.75rem)] font-semibold tracking-tight text-foreground;
    }

    h3 {
        @apply text-[clamp(1.5rem,1.3rem+0.8vw,2.25rem)] font-semibold text-foreground;
    }

    h4 {
        @apply text-[clamp(1.25rem,1.1rem+0.6vw,1.75rem)] font-semibold tracking-tight text-foreground;
    }

    h5 {
        @apply text-[clamp(1.125rem,1rem+0.5vw,1.5rem)] font-semibold text-foreground;
    }

    h6 {
        @apply text-[clamp(1rem,0.9rem+0.4vw,1.25rem)] font-semibold text-foreground;
    }

    p {
        @apply text-[clamp(0.875rem,0.85rem+0.1vw,1rem)] leading-relaxed text-muted-foreground;
    }


    /*// TODO: Remove in prod*/
    h1, h2, h3, h4, h5, h6, p {
        @apply transition-[font-size] duration-[0.4s] ease-linear;
    }

    ul,
    ol {
        @apply list-disc list-inside ml-4;
    }
}

