$breakpoints: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px,
        3xl: 1600px
) !default;

@mixin respond($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin respond-max($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
