@use "../../../styles/mixins" as *;
@use "../../../styles/constants" as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: $space-md;


  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: $space-sm;
  }

  > .buttons {
    display: flex;
    flex-direction: column;
    gap: $space-sm;

    @include respond(sm) {
      flex-direction: row;
    }

    button {
      height: 3rem;
    }
  }
}

$outdent: 2.5rem;

.stats {

  width: 100%;
  position: sticky;
  inset-block-end: 0;
  z-index: 1;

  padding: {
    top: $space-md;
    bottom: $space-md;
  };
  margin-top: $space-md;


  display: none;
  @include respond(lg) {
    display: flex;
  }
  flex-direction: row;
  gap: $space-sm;

  -webkit-mask-image: linear-gradient(
                  to right,
                  #0000,
                  #000 #{$outdent},
                  #000 calc(100% - #{$outdent}),
                  #0000 100%
  );
  mask-image: linear-gradient(
                  to right,
                  #0000,
                  #000 #{$outdent},
                  #000 calc(100% - #{$outdent}),
                  #0000 100%
  );

  &__logos {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    gap: $space-sm;


    img {
      transition: filter ease-out 250ms;
      filter: grayscale(1);
      @for $i from 2 through 6 {
        &:nth-child(#{$i}) {
          //background: red;
          margin-left: -20;
        }
      }
    }

    img:hover {
      filter: grayscale(0);
    }
  }

  &__items {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      gap: $space-sm;
    }
  }
}
