@use "../../../styles/constants" as *;
@use "../../../styles/mixins" as *;

.started {
  display: flex;
  flex-direction: column;
  gap: calc($space-md * 2);

  h3 {
    text-align: center;
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    @include respond(lg) {
      flex-direction: row;
    }

    &__roadmap {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: $space-md;

      > div {
        display: flex;
        gap: $space-md;

        > div {
          display: flex;
          flex-direction: column;
          gap: $space-sm;

          > button {
            margin-top: $space-sm;
          }
        }
      }
    }
  }
}